header {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  z-index: 10;
}
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column-reverse;
    position: relative;
  }
  .header_right, .top_img {
    width: 100%!important;
  }
  .page_links {
    flex-wrap: wrap;
  }
  .part {
    width:100%!important;
    margin: 0!important;
  }
  .part dd {
    text-wrap: balance;
  }
  .part ul {
    padding-left: 15px!important; 
  }
}
.header_right {
  width: 80%;
  min-width: 300px;
}
h1 {
  background-color: white;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 3rem;
}
.title {
  font-size: 120%;
}
.top_img {
width: 10%;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
background-color: black;
  display: grid;
  grid-template-rows: auto 1fr;
}
.page {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, black 0, black 10%, white 10%, white 90%, black 90%);
  min-height: 100vh;
  font-size: 1.125rem;
  overflow-y: auto;
}
.wall {
  padding: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
}
img {
  height: 100%;
  width: auto;
  max-height: 500px;
}
.header_links {
 
    list-style: none;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  background-color: red;
  margin: 0;
  justify-content: center;
}
.header_links li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  background-color: white;
}
.header_links li.current {
  background-color: gray;
}
.header_links li:hover {
  background-color: gray;
}
.header_links li a {
  text-decoration: none;
  color: black;
  border: 2px black solid;
  padding: 5px;
}

table {
  border: black 2px solid;
  font-size: 20px;
}
iframe {
  max-width: 100%;
}
.part {
  margin: 30px auto;
  width: 80%;
  line-height: 2;
}
.part h2 {
  border-left: red 2px solid;
  padding-left: 10px;
  font-size: 1.5rem;
}
.part dt {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.part dd {
  margin-left: 0;
  margin-bottom: 20px;
}
.part li {
  list-style: circle;
}
