header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column-reverse;
    position: relative;
  }
  .header_right, .top_img {
    width: 100%!important;
  }
  .page {
    padding-top: 0!important;
  }
}
.header_right {
  width: 80%;
  min-width: 300px;
}
h1 {
  background-color: white;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.title {
  font-size: 120%;
}
.top_img {
width: 10%;
}
body {
background-color: black;
  margin: 0;
}
.page {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding-top: 200px;
}
.wall {
  padding: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
}
img {
  height: 100%;
  width: auto;
  max-height: 500px;
}
.header_links {
 
    list-style: none;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  background-color: red;
  margin: 0;
  justify-content: center;
}
.header_links li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  background-color: white;
}
.header_links li.current {
  background-color: gray;
}
.header_links li:hover {
  background-color: gray;
}
.header_links li a {
  text-decoration: none;
  color: black;
  border: 2px black solid;
  padding: 5px;
}
table {
  border: black 2px solid;
  font-size: 20px;
}
iframe {
  max-width: 100%;
}
.part {
  margin: 30px auto;
  
  
}
.part h2 {
  text-decoration: underline;
}
.part dt {
  font-size: 120%;
}
.part dd {
  margin-left: 0;
}
